<!DOCTYPE html>
<html>
<head>
  <%# This section is for the layout also including headers and footers%>
  <title>My Exercise Website</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <main class="container">
    <%- body %>
  </main>

  <%- include('partials/footer') %>
</body>
</html>


